<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/styles.css">

   
</head>
<body>
    <header>
        <nav>
            <a href="/">Shop</a>
            <a href="/admin/add_product">Add Product</a>
        </nav>
    </header>
    <main>
        <h1>Add a New Product or Book</h1>
        <form id="product-form" method="POST" action="/admin/product">
            <input type="text" id="product-name" name="productName" placeholder="Enter product/book name" required>
            <button type="submit">Add</button>
        </form>
    </main>
</body>
</html>
